CONFIG_NEX_UART_MUTEX_WAIT_TIME_MS=500
CONFIG_NEX_UART_RECV_WAIT_TIME_MS=100
CONFIG_NEX_UART_TRANS_WAIT_TIME_MS=100
CONFIG_NEX_UART_RECV_BUFFER_SIZE=256
CONFIG_NEX_UART_TRANS_COMMAND_FORMAT_BUFFER_SIZE=256
# CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0 is not set
CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
CONFIG_UNITY_ENABLE_COLOR=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_UNITY_ENABLE_BACKTRACE_ON_FAIL=y
