CONFIG_NEX_EVENT_QUEUE_WAIT_TIME_MS=50
CONFIG_NEX_RESP_MSG_MAX_LENGTH=140
CONFIG_NEX_RESP_WAIT_TIME_MS=1000
CONFIG_NEX_UART_RECV_BUFFER_SIZE=256
CONFIG_NEX_UART_QUEUE_SIZE=10
CONFIG_TASK_WDT_CHECK_IDLE_TASK_CPU0
CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
CONFIG_UNITY_ENABLE_COLOR=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_UNITY_ENABLE_BACKTRACE_ON_FAIL=y
