CONFIG_NEWLIB_NANO_FORMAT=y

CONFIG_NEX_UART_MUTEX_WAIT_TIME_MS=500
CONFIG_NEX_UART_RECV_WAIT_TIME_MS=100
CONFIG_NEX_UART_TRANS_WAIT_TIME_MS=100
CONFIG_NEX_UART_RECV_BUFFER_SIZE=256
CONFIG_NEX_UART_TRANS_COMMAND_FORMAT_BUFFER_SIZE=128