CONFIG_NEX_EVENT_QUEUE_WAIT_TIME_MS=50
CONFIG_NEX_REQ_MSG_MAX_LENGTH=35
CONFIG_NEX_RESP_MSG_MAX_LENGTH=140
CONFIG_NEX_RESP_WAIT_TIME_MS=1000
CONFIG_NEX_RESP_NO_BKCMD_WAIT_TIME_MS=50
CONFIG_NEX_UART_RECV_BUFFER_SIZE=256
CONFIG_NEX_UART_QUEUE_SIZE=10
