menu "Nextion Display"

    config NEX_EVENT_QUEUE_WAIT_TIME_MS
        int "Event queue wait time (ms)"
        range 10 1000
        default 50
        help
            Time, in millisecods, to wait for the event queue to enqueue
            an event. In case it is not possible to enqueue, the event
            will be dropped.

    config NEX_RESP_MSG_MAX_LENGTH
        int "Max response message size"
        range 36 512
        default 140
        help
            The maximum size of a response message.
            Usually, the biggest messages are the ones that retrieve text.

    config NEX_RESP_WAIT_TIME_MS
        int "Response wait time (ms)"
        range 10 10000
        default 1000
        help
            Time, in millisecods, to wait for a response from the display.

    config NEX_UART_RECV_BUFFER_SIZE
        int "UART receiver buffer size"
        range 128 2048
        default 256
        help
            The UART buffer used for receiving messages.

            Use a big size if you intend to receive a lot of event messages
            in a short time span and/or the event message processing is slow.

    config NEX_UART_QUEUE_SIZE
        int "UART queue size"
        range 1 100
        default 10
        help
            The UART queue size.

endmenu # Nextion Configuration