menu "Nextion Display"

    config CONFIG_NEX_UART_RECV_WAIT_TIME_MS
        int "Response wait time (ms)"
        range 10 1000
        default 20
        help
            Time, in milliseconds, to wait for a response from the display.

    config CONFIG_NEX_UART_TRANS_WAIT_TIME_MS
        int "Transmit wait time (ms)"
        range 10 1000
        default 20
        help
            Time, in milliseconds, to wait for a transmission from the ESP32.

    config NEX_UART_RECV_BUFFER_SIZE
        int "UART receiver buffer size (bytes)"
        range 128 2048
        default 256
        help
            The UART buffer used for receiving messages.

            Use a big size if you intend to receive a lot of event messages
            in a short time span and/or the event message processing is slow.

endmenu # Nextion Configuration